.grilla_trabajo6{

    main{
        margin-top: 95px;
    }

    .navbar__logo{
        width: 50px;
        height: 50px;
    }

    footer{
        font-size: 3rem;
    }

    nav {
        border-bottom: 1px solid $black;
    }

}

@media only screen and (min-width: 576px){
    .grilla_trabajo6{
        nav {
            width: 20vw;
            height: 100vh;
            margin-bottom: 0;
            border-right: 1px solid $black;
        }

        main{
            margin-left: 20vw;
            margin-top: 0;
            
            img{
                padding-left: 15px;
                padding-right: 15px;
                width: 100%;
            }
        }

        .navbar-nav{
            list-style-type: disc;
        }

        .navbar__footer{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20vw;
            font-size: 3rem;
        }

        h1{
            padding-left: 70px;
            margin-bottom: .75em;
        }
    }
}