.grilla--trabajo4{
    figure.logo, .d-footer{
        height: 17vh;
        grid-column-start: 1;
        grid-column-end: 3;
        svg{
            width: 10vh;
            height: 10vh;
        }
    }

    header{
        grid-column-start: 3;
        grid-column-end: 8;
    }

    nav{
        position: relative;
        grid-column-start: 8;
        grid-column-end: 13;
        ul{
            position:absolute;
            right: 10%;
            top: 50%;
            transform: translateY(-50%);
        }
        ul li{
            display: inline-table;
            margin: 0 40px;
        }
    }

    main{
        height: 70vh;
        grid-column-end: span 12;
        background-image: url(../images/dkwp.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        h1{
            text-align: center;
        }
    }

    footer{
        grid-column-start: 3;
        grid-column-end: 11;
        text-align: center;

        div > *{
            margin: 0 .5em; 
        }
    }

    figure.f-footer{
        grid-column-start: 11;
        grid-column-end: 13;
    }

    figure.f-footer > img{
        width: 15vh;
        height: 15vh;
        border-radius: 50%;
        
    }
}