.grilla--trabajo1{
    header, footer{
        height: 20vh;
    }

    aside > div, main > div{
        height: 80vh;
    }

    aside{
        padding-right: 5px;
    }
    main{
        padding-left: 5px;
    }

    header{
        margin-bottom: 10px;
    }

    footer{
        margin-top: 10px;
    }
}
