.grilla--trabajo2{
    
    header{
        height: 20vh;
        grid-column-end: span 12;
    }
    
    aside{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-end: span 3;
        font-size: .8em;
        padding: 1em;
    }
    
    section{
        height: 24vh;
        grid-column-start: 4;
        grid-column-end: 13;
    }

    .section--3{
        grid-column-start: unset;
        grid-column-end: span 4;
    }

    .section--1{
        grid-column-start: unset; 
        grid-column-end: span 1;
    }
}