.grilla--trabajo2{
    
    header{
        height: 20vh;
        margin-bottom: 10px;
    }
    
    aside > div{
        max-height: 75.3vh;
        overflow-y: scroll
    }
    
    aside{
        padding-right: 5px;
    }

    main{
        padding-left: 5px;
    }

    section > div{
        height: 24vh;
    }

    section{
        margin-bottom: 10px;
    }

    .row--gap-changed{
        margin-left: -5px;
        margin-right: -5px;
    }
}