.grilla--trabajo10{
    background-image: url(../images/chapel-4245437_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -150px;

    .navbar__link{
        color: $white;
    }

    .navbar__logo, .navbar__toggler{
        color: $black;
    }

    .pantalla-gris{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: transparentize(darken($white, 40%), .7);

    }

    header{
        height: 10vh;
        color: $black;
        padding: 1rem 2rem 0 1.5rem;
    }

    main{
        height: 90vh;
        padding: 2rem;
        padding-top: 0;
        position: relative;
        
        .main__ml{
            position: relative;
            border-left: 1px solid $white;
            z-index: -2;
            height: 40vh;
        }
        
        .main__mbl{
            position: absolute;
            bottom: 3rem;
            right: 2rem;
            width: 50vw;
            height:50vw;
            z-index: -2;
            border-right: 1px solid $white;
            border-bottom: 1px solid $white;
        }

        .main__text{
            position: absolute;
            bottom: 4.5rem;
            right: 0;
            color: $white;
            max-width: 80vw;
            z-index: 1;

        }

        h1{
            font-size: 2em !important;
        }

        h5{
            font-size: .9em;
        }

        h1, h5, p{
            text-align: right;
            padding-right: 3.5rem;
        }

        .main__bground{
            background-color: transparentize($black, .4);
            border-bottom-left-radius: 3em;
            border-top-left-radius: 3em;
            padding-left: 1rem;
        }

        .main__bground p{
            font-size: .7em;
        }

        .main__circle{
            position: relative;
            left: -1rem;
            width: 60vw;
            height: 60vw;
            border-radius: 50%;
            background-image: url(../images/chapel-4245437_960_720.jpg);
            background-repeat: no-repeat;
            background-position-y: -400px;
            background-position-x: -100px;
        }
    }
}

@media screen and (min-width: 768px){
    .grilla--trabajo10{
        background-position-x: unset;
        background-size: cover;
        background-position-y: bottom;

        .navbar__logo{
            font-size: 2rem;
        }

        .navbar__line {
            width: 30vw;
            margin-left: 10vw;
            background-color: $white;
        }
        main{
            .main__ml{
                top: 10vh;
                height: 70vh;
            }

            .main__mbl{
                height: 20vw;
                width: 20vw;
            }

            .main__circle{
                position: absolute;
                top: unset;
                left: 15vw;
                bottom: 20vh;
                width: 25vw;
                height: 25vw;
                background-position-y: -310px;
                background-position-x: -75px;
            }

            .main__text{
                width: 35vw;
            }

            .main__bground{
                border-bottom-left-radius: 4.5em;
                border-top-left-radius: 4.5em;
                padding-left: 2.5rem;
            }
        }
    }
}