.grilla--trabajo4{

    div.row{
        margin-bottom: 10px;
    }

    figure.logo, .d-footer, header, nav, footer, .f-footer{
        height: 17vh;
        
        svg{
            width: 10vh;
            height: 10vh;
        }
    }

    nav{
        position: relative;
     
        ul{
            position:absolute;
            right: 10%;
            top: 50%;
            transform: translateY(-50%);
        }
      
        ul li{
            display: inline-table;
            margin: 0 40px;
        }
    }

    main{
        height: 70vh;
        background-image: url(../images/dkwp.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        h1{
            text-align: center;
        }
    }

    footer{
        text-align: center;

        div > *{
            margin: 0 .5em; 
        }
    }

    figure.f-footer > img{
        width: 15vh;
        height: 15vh;
        border-radius: 50%;
        
    }
}