.grilla--trabajo3{

    div.row:first-of-type{
        margin-bottom: 10px;
    }

    

    figure{
        height: 20vh;
        text-align: center;

        img{
            position: relative;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    header{
        height: 20vh;
    }

    aside{
        height: 60vh;
    }

    main{
        height: 60vh;
        font-size: .8em;
        padding: 2em;
        overflow-y: scroll;
    }

    footer{
        margin-top: 10px;
        height: 15vh;
    }

    .t-number{
        top: 90%;
    }
}